/* MapView.css */

.map-view {
    width: 100%;
    height: 400px;
    margin: 20px 0;
  }
  
  .map-view h2 {
    text-align: center;
  }
  
  .leaflet-container {
    height: 100%;
    width: 100%;
  }
  